{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks", "import", "jsx-a11y"],
  "extends": [
    "prettier",
    "airbnb-base",
    "prettier/react",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ]
}
